/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NUM 1
#define SYM 2
#define NAV 3
#define FUN 4
#define MED 5

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <60>;
            key-positions = <13 14>;
            bindings = <&kp ESC>;
        };
        combo_tab {
            timeout-ms = <60>;
            key-positions = <14 15>;
            bindings = <&kp TAB>;
        };
        combo_delete {
            timeout-ms = <60>;
            key-positions = <15 16>;
            bindings = <&kp DELETE>;
        };
        combo_backspace {
            timeout-ms = <60>;
            key-positions = <19 20>;
            bindings = <&kp BSPC>;
        };
        combo_enter {
            timeout-ms = <60>;
            key-positions = <21 22>;
            bindings = <&kp RET>;
        };
        combo_scln {
            timeout-ms = <60>;
            key-positions = <20 21>;
            bindings = <&kp SCLN>;
        };
        combo_lpar {
            timeout-ms = <60>;
            key-positions = <3 4>;
            bindings = <&kp LPAR>;
        };
        combo_rpar {
            timeout-ms = <60>;
            key-positions = <7 8>;
            bindings = <&kp RPAR>;
        };
        combo_lbkt {
            timeout-ms = <60>;
            key-positions = <7 8>;
            bindings = <&kp LBKT>;
        };
        combo_rbkt {
            timeout-ms = <60>;
            key-positions = <7 8>;
            bindings = <&kp RBKT>;
        };
        combo_minus {
            timeout-ms = <60>;
            key-positions = <2 3>;
            bindings = <&kp MINUS>;
        };
        combo_equal {
            timeout-ms = <60>;
            key-positions = <8 9>;
            bindings = <&kp EQUAL>;
        };

    };
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};




/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        
                        bindings = <
&trans &kp Q              &kp W              &kp E              &kp R              &kp T              &kp Y              &kp U              &kp I              &kp O              &kp P           &trans    
&trans &hm LGUI A         &hm LCTRL S        &hm LALT D         &hm LSHFT F         &kp G              &kp H              &hm LSHFT J        &hm LALT K         &hm LCTRL L        &hm LGUI SQT   &trans     
&trans &kp Z              &lt MED X          &kp C              &kp V              &kp B              &kp N              &kp M              &kp COMMA          &lt FUN DOT        &lt SYM SLASH   &trans 
                                             &trans             &lt  NAV BSPC     &lt  MED TAB      &lt  FUN DEL       &lt  NUM SPC        &lt SYM F2
                        >;
                };
                num_layer {
                       
                        bindings = <
&trans &kp LPAR           &kp NUM_7          &kp NUM_8          &kp NUM_9          &kp RPAR           &kp LBKT              &kp RBKT           &kp LBRC           &kp RBR            &kp PIPE      &trans 
&trans &kp SEMI           &kp NUM_4          &kp NUM_5          &kp NUM_6          &kp EQL            &kp BSLH              &kp LSHFT          &kp LALT           &kp LCTRL          &kp LGUI      &trans        
&trans &kp GRAVE          &kp NUM_1          &kp NUM_2          &kp NUM_3          &kp MINUS          &kp LBKT              &kp RBKT           &trans             &trans             &trans        &trans         
                                            &kp MINUS     &kp NUM_0      &kp DOT               &trans                &trans             &trans  
                        >;
                };

                sym_layer {
                        
                        bindings = <
&trans &kp LBRC           &kp AMPS           &kp ASTRK          &kp LPAR           &kp RBRC           &trans                &trans             &trans             &trans             &trans       &trans   
&trans &kp COLON          &kp DLLR           &kp PRCT           &kp CRRT           &kp PLUS           &trans                &kp LSHFT          &kp LALT           &kp LCTRL          &kp LGUI      &trans   
&trans &kp TILDE          &kp EXCL           &kp AT             &kp HASH           &kp PIPE           &trans                &trans             &trans             &trans             &trans       &trans   
                                      &kp LPAR           &kp RPAR           &kp UNDER          &trans                &trans             &trans                                          
                        >;
                };
                nav_layer {
                      
                        bindings = <
&trans &kp ESC            &kp TAB            &kp HOME           &kp END            &kp INS               &kp PG_DOWN        &kp PG_UP          &kp UP             &kp DEL            &kp BSPC     &trans       
&trans &hm LGUI A         &hm LCTRL S        &hm LALT D         &hm LSHFT F        &trans                &kp PG_UP          &kp LEFT           &kp DOWN           &kp RIGHT          &kp RETURN   &trans       
&trans &kp LC(Z)          &kp LC(X)          &kp LC(C)          &kp LC(V)          &trans                &kp PG_DOWN        &kp LC(V)          &kp LC(C)          &kp LC(X)          &kp LC(Z)    &trans            
                                      &trans             &trans             &trans                &kp RET            &kp BSPC           &kp DEL
                        >;
                };        
                fun_layer {
                      
                        bindings = <
&trans &kp F12            &kp F7             &kp F8             &kp F9             &kp PSCRN          &trans                &trans             &trans             &trans             &trans     &trans     
&trans &kp F11            &kp F4             &kp F5             &kp F6             &kp SLCK           &trans                &kp LSHFT          &kp LALT           &kp LCTRL          &kp LGUI    &trans     
&trans &kp F10            &kp F1             &kp F2             &kp F3             &kp PAUSE_BREAK    &trans                &trans             &trans             &trans             &trans     &trans     
                                      &kp K_APP          &kp SPC            &kp TAB            &trans                &trans             &trans                                          
                        >;
                };
                med_layer {
                        
                        bindings = <
&trans &trans             &trans             &trans             &trans             &trans                &trans             &kp C_PREV         &kp C_NEXT         &kp C_PP           &kp C_STOP   &trans    
&trans &kp LGUI           &kp LALT           &kp LCTRL          &kp LSHFT          &trans                &bt BT_CLR         &kp C_VOL_DN       &kp C_VOL_UP       &kp C_MUTE         &kp C_NEXT   &trans      
&trans &trans             &trans             &trans             &trans             &trans                &bt BT_SEL 0       &bt BT_SEL 1       &bt BT_SEL 2       &bt BT_SEL 3       &bt BT_SEL 4 &trans        
                                      &trans             &trans             &trans                &trans         &trans           &trans                                         
                        >;
        };
        };
};
